
/* 课程详情 */
.class-details{
  position: relative;
  width: 340px;
  height: 160px; 
  margin-right: 19px;
  margin-bottom: 10px;
  background: url('../img/classSyn_sprites.png') -1px -1px;
  }
  .class-details:hover{
  background: url('../img/classSyn_sprites.png') -343px -1px;
  box-shadow: 3px 3px 10px  #d8dada;
  
  }
  .class-details:active{
  background: url('../img/classSyn_sprites.png') -1px -163px;
  
  }
  
  .course-logo{
  position: absolute;
  /* float: left; */
  width: 105px;
  height: 104px;
  margin-top: 29px;
  margin-left: 31px;
  background: url('../img/classSyn_sprites.png') -343px -163px;
  }
  .class-detail{
  position: absolute;
  height: 104px;
  margin-top: 29px;
  margin-left: 155px;
  
  }
  .class-detail p{
  margin: 0;
  padding: 0;
  margin: 8px 0; 
  font-size: 14px;
  color: #333333;
  }
  .class-detail i{
  color: #999;
  }
  .class-details-btn{
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 20px;
  right: 0;
  bottom: 0;
  background-color:initial;
  background: url('../img/classSyn_sprites.png') -557px -163px;
  color: #fff;
  font-size: 12px;
  }
  .class-details-btn:hover{
  background: url('../img/classSyn_sprites.png') -557px -185px;
} 
  .class-details-btn:focus{
  outline: none;
  }
  .class-details-btn:active{
  background: url('../img/classSyn_sprites.png') -615px -163px;
  
  }

  .class-detail-setting{
    position: absolute;
    right: 14px;
    top: 12px;
      width: 16px; height: 16px;
      background: url('../img/classSyn_sprites.png') -615px -185px;
      display: none;
  }
  .class-details:hover .class-detail-setting{
    display: block;
  }