
/* contenter 顶部导航栏 */
.contenter-top-nav-bar{
  width: 1138px;
  height: 56px;
  border-bottom: 1px solid #e6e7e7;
}

.route-title{
  float: left;
  height: 56px;
  line-height: 56px;
  width: 64px;
}

/* 加入 和 创建班级按钮 */
.creat-class{
float: right;
width: 100px;
height: 35px;
border: none;
background: url('../img/btn_sprites.png') -1px -1px;
color: #fff;
}
.creat-class:hover{
  background: url('../img/btn_sprites.png') -1px -75px;

}
.creat-class:active{
  background: url('../img/btn_sprites.png') -1px -38px;
}
.creat-class:focus{
outline: none;

}
.creat-class{
margin-left: 20px;
}

.class-bar{
width: 1077px;
/* height: 500px; */
/* background-color: #bfa; */
display: flex;
flex-flow: row wrap;

}

.class-totall-bar h3{
color: #666;
padding-top: 20px;
margin-bottom: 18px;
font-size: 14px;
}
@media screen and (max-width:800px){
  /* contenter 顶部导航栏 */
.contenter-top-nav-bar{
  width: 700px;
}




.class-bar{
width: 700px;

}
.class-details{
  width: 300px;
  background: none;
  border: 1px solid rgb(212, 231, 240);


}
.creat-class ,.back-myclass-btn{
  margin-right: 80px;
}
}

