.my-btn {
    border: 1px solid rgb(188, 220, 241);
    outline: none;
    width: 70px;
    height: 36px;
    margin: 0;
    padding: 0;
    background-color: white;
    margin-top: 3px;
}

.my-btn:hover {
    background-color: rgba(147, 232, 247, 0.541);
    border: 1px solid rgb(188, 220, 241);
}

.my-btn:hover:active {
    background-color: rgba(129, 230, 248, 0.705);
    border: 1px solid rgb(114, 232, 253);
}