/* 班级信息 */
.class-detail-message{
  width: 1137px;
  margin-left: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.detail-message{
  
}

.teachename{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.teachename i{
  font-size: 16px;

}

.detail-message-nav{
  position: relative;
  width: 131px;

  height: 147px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 21px;

  border: 1px solid #dddddd;
  padding-left: 4px;
}
/* 科目老师导航 */
.detail-message-nav span{
  /* position: relative; */
  display: inline-block;
  /* margin: 5px; */
  margin-top: 7px;
  margin-right: 6px;
  height: 20px;
  background-color: #f99d43;
  font-size: 12px;
  line-height: 20px;
  color: #fefefe;
  padding-left: 5px;
  padding-right: 7px;
  text-align: center;
  
}
/* 班主任标签 */
.detail-message-nav .headmaster{
  background-color: #f96543;
}